.jdl {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 32px;
  color: #1c1c1c;
}

.jdl-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #969696;
}

@media screen and (max-width: 600px) {
  .jdl {
    font-size: 24px;
  }
  .jdl-sub {
    font-size: 14px;
  }
}
